extends layout

block content
	nav#navbar.site-header.fixed-top.py-1
		div.container.d-flex.flex-md-row.w-50.justify-content-around
			a.py-2.d-none.d-md-inline-block(href='#about') About
			a.py-2.site-title(href='/') #[strong drivvyn careers]
			a.py-2.d-none.d-md-inline-block(href='#about') Join
			// a.py-2.d-none.d-md-inline-block(href='#') Features
			// a.py-2.d-none.d-md-inline-block(href='#') Enterprise
			// a.py-2.d-none.d-md-inline-block(href='#') Support
			// a.py-2.d-none.d-md-inline-block(href='#') Pricing
			// a.py-2.d-none.d-md-inline-block(href='#') Cart
	.container-fluid.header-container
		.container-fluid
			.row
				.col-sm-12
					.header-content
						h1.display-3.page-header #{header}
						p.p-2.site-description
							| drivvyn helps you create a tangible roadmap to achieve your career goals.
						a.btn.btn-dark.p-2(href='#about' role='button') Sign Up
	section.container-fluid.about-section
		.row
			.col-lg-6
				div.about-content
					i(data-feather='sunrise' stroke-width='1' width='36' height='36')
					h2 drivvyn is your professinal growth roadmap
						a(id='about')
					p 
					| drivvyn helps you by creating a #[strong personalized professional growth roadmap] that's based on your skills today and the goals you want to achieve in the future. We search the web to provide you with actionable resources to help you achieve your objective and maintain a community of trusted advisors to consult you on the way.
			.col-lg-6
				.card.shadow-lg.p-3.mb-5.bg-white.rounded.signup-card
					.card-body
						h3.card-title Join drivvyn today
						p.card-text 
						| While we build drivvyn, we need feedback from you. Be an early adopted, and we'll provide actionable steps to help craft your career growth plan.
						form.signup-form(method='post', action='/')
							.form-group
								label(for='emailInputField') What's your email?
								input#emailInputField.form-control(type='email' name='email' aria-describedby='emailHelp' placeholder='email@email.com')

								if errors
									for error in errors
										p.card-text
											small.text-muted!= error.msg

							button.btn.btn-dark Sign Up
	footer.mastfoot.mt-auto
		.inner
			hr
			p &copy;drivvyn 2018